main td {
    vertical-align: middle;
}

main div.SingleDatePicker {
    /*margin-right: 20px;*/
    /*flex-grow: 1;*/
}

main div.DateInput {
    width: 100%;
}

main .SingleDatePickerInput, .DateInput, .DateInput_input {
    border: none;
    background-color: transparent;
    color: #00FFE2;
}

main input.DateInput_input {
    width: 80px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    line-height: 0;
}

